@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.25;
    -webkit-transform: scale(1.05, 1.2);
            transform: scale(1.05, 1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.25;
    -webkit-transform: scale(1.05, 1.2);
            transform: scale(1.05, 1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #133261;
  font-size: 16px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 24px;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: #7544e3;
  padding: 19px 20px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn-wrapper {
  position: relative;
}
.btn-arrow {
  position: absolute;
  right: 0;
  top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.btn-arrow img {
  position: relative;
  top: 10px;
}
.btn-arrow span {
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #fff;
  font-style: italic;
  margin-left: 9px;
}
.btn.is-disabled {
  background-color: #9d9db5;
}
.btn.is-disabled::before, .btn.is-disabled::after {
  opacity: 0;
  -webkit-animation: none !important;
          animation: none !important;
}
.btn.pulse {
  position: relative;
}
.btn.pulse span {
  position: relative;
}
.btn.pulse::before {
  position: absolute;
  content: "";
  left: -6px;
  top: -6px;
  bottom: -6px;
  right: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background-color: rgba(117, 68, 227, 0.2);
  border-radius: 16px;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.btn.pulse::after {
  position: absolute;
  content: "";
  left: -12px;
  top: -12px;
  bottom: -12px;
  right: -12px;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  background-color: rgba(117, 68, 227, 0.1);
  border-radius: 22px;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.app {
  overflow: hidden;
}
.app__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto auto;
  grid-template-rows: 1fr auto auto;
  padding-bottom: 40px;
  max-width: 768px;
  margin: 0 auto;
  min-height: 100vh;
}
.app__content {
  height: 100vh;
  margin-bottom: 50px;
}
.app__screen {
  display: none;
  height: 100%;
  -webkit-transition: 0.65s ease;
  transition: 0.65s ease;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #edbc40 0%, #e18233 100%);
  background-color: #e18233;
}
.app__screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-bottom: 40px;
}
.app__screen--1 {
  background: url("../img/home-bg.png") center/cover no-repeat;
}
.app__screen--2 {
  background: linear-gradient(163.56deg, rgba(117, 68, 227, 0.1) 0%, rgba(104, 192, 255, 0.1) 100%);
}
.app__screen--3 {
  background: linear-gradient(163.56deg, rgba(117, 68, 227, 0.1) 0%, rgba(104, 192, 255, 0.1) 100%);
}
.app__screen--4 {
  background: url("../img/prefinish-bg.png") center/cover no-repeat;
}
.app__screen--5 {
  background: url("../img/finish-bg.svg") center/cover no-repeat;
}
.app__screen--6 {
  background: linear-gradient(163.56deg, rgba(117, 68, 227, 0.1) 0%, rgba(104, 192, 255, 0.1) 100%);
}
.app__screen.is-active {
  display: block;
}
.app__screen.is-hide {
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.app__screen.is-show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home__btn {
  margin-top: auto;
}

.title {
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: auto;
}
.title-big {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}
.title-accent {
  position: relative;
  display: inline-block;
  background: url("../img/title-bg.svg") center/cover no-repeat;
  font-size: 57px;
  line-height: 73px;
  margin-bottom: 24px;
  padding: 7px 17px;
  text-transform: none;
}
.title-accent span {
  position: relative;
  z-index: 2;
}
.title-accent::before {
  position: absolute;
  content: "";
  background: url("../img/title-bg-2.svg") center/cover no-repeat;
  left: -7px;
  top: -7px;
  bottom: -7px;
  right: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.title-sm {
  font-size: 28px;
  line-height: 34px;
}

.quiz__top {
  margin-bottom: 50px;
}
.quiz__btn {
  margin-top: auto;
}
.quiz__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  margin: 0 auto 8px;
}
.quiz__caption {
  color: #9d9db5;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
.quiz__step {
  width: 28px;
  height: 28px;
  border-radius: 40px;
  border: 1px solid #9d9db5;
  margin-left: 10px;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.quiz__step::before {
  position: absolute;
  content: "";
  background-color: #9d9db5;
  width: 3px;
  height: 3px;
  left: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.quiz__step::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/check.svg") center/cover no-repeat;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.quiz__step:first-child {
  margin-left: 0;
}
.quiz__step:first-child::before {
  display: none;
}
.quiz__step.is-checked {
  background: #7544e3;
}
.quiz__step.is-checked::after {
  opacity: 1;
}
.quiz__step.is-active {
  border-color: #7544e3;
}
.quiz__title {
  padding: 14px 30px;
  display: inline-block;
  background: url("../img/title-bg.svg") center/cover no-repeat;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.quiz__item {
  display: none;
}
.quiz__item.is-active {
  display: block;
}
.quiz__question {
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.quiz__answers {
  margin-bottom: 40px;
}
.quiz__answers li {
  margin-bottom: 24px;
}
.quiz__answers li:last-child {
  margin-bottom: 0;
}
.quiz__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.quiz__label input {
  display: none;
}
.quiz__label input:checked ~ .quiz__circle {
  background-color: #7544e3;
  border: 1px solid #7544e3;
}
.quiz__label input:checked ~ .quiz__circle::after {
  opacity: 1;
}
.quiz__label input:checked ~ .quiz__text {
  color: #7544e3;
}
.quiz__circle {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #9d9db5;
  position: relative;
  margin-right: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.quiz__circle::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/check.svg") center no-repeat;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.quiz__text {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.phone-field {
  margin-bottom: 24px;
}
.phone-field__caption {
  margin-bottom: 16px;
  color: #fff;
}
.phone-field__input {
  display: block;
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  padding: 17px 24px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: transparent;
  color: #9d9db5;
}
.phone-field__input::-webkit-input-placeholder {
  color: #9d9db5;
}
.phone-field__input::-moz-placeholder {
  color: #9d9db5;
}
.phone-field__input:-ms-input-placeholder {
  color: #9d9db5;
}
.phone-field__input::-ms-input-placeholder {
  color: #9d9db5;
}
.phone-field__input::placeholder {
  color: #9d9db5;
}
.phone-field__input.is-active {
  color: #133261;
}

.check__icon {
  margin-bottom: 30px;
  text-align: center;
}
.check__icon img {
  -webkit-animation: loading 1s linear infinite backwards;
          animation: loading 1s linear infinite backwards;
}
.check__caption {
  margin-top: auto;
  color: #9d9db5;
  text-align: center;
}
.check__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 75px;
  text-align: center;
  margin-top: auto;
}
.check__value {
  text-align: center;
  color: #7544e3;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 10px;
}
.check__bar {
  position: relative;
  border-radius: 6px;
  background-color: rgba(157, 157, 181, 0.2);
  height: 16px;
  margin-bottom: 16px;
}
.check__bar-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 6px;
  background-color: #7544e3;
}

.prefinish {
  padding-top: 150px;
}
.prefinish .title {
  margin-top: 0;
}
.prefinish .title-accent::before {
  background-image: url("../img/title-bg-3.svg");
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}
.prefinish .btn-wrapper {
  margin-top: auto;
}

.finish {
  padding-top: 20px;
}
.finish__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
.finish .title-sm {
  margin-bottom: 30px;
}
.finish .btn-wrapper {
  margin-top: auto;
}

.call__number {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.call__number-caption {
  color: #9d9db5;
  text-align: center;
  margin-bottom: 8px;
}
.call__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
}

.comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d4d4e1;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.comments__header-avas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9d9db5;
  line-height: 17px;
  font-size: 14px;
}
.comments__header-avas img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.comments__header-avas span {
  margin-left: 10px;
}
.comments__header-views {
  font-family: "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #9d9db5;
  margin-left: auto;
}
.comments__header-views span {
  margin-left: 10px;
}
.comments__count {
  font-family: "Arial", sans-serif;
  color: #9d9db5;
  margin-bottom: 16px;
}
.comments__list {
  margin-bottom: 24px;
}
.comments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 16px;
}
.comments__item:not(:last-child) {
  position: relative;
  background: url("../img/line.svg") bottom center repeat-x;
  margin-bottom: 16px;
}
.comments__name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
}
.comments__info {
  margin-left: 12px;
}
.comments__text {
  letter-spacing: -0.02em;
  color: #1c1e21;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
}
.comments__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 13px;
  font-family: "Arial", sans-serif;
}
.comments__link {
  margin-right: 13px;
  position: relative;
}
.comments__link::before {
  content: ".";
  position: absolute;
  top: -2px;
  right: -8px;
}
.comments__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
  position: relative;
}
.comments__likes::before {
  content: ".";
  position: absolute;
  top: -2px;
  right: -8px;
}
.comments__likes span {
  color: #1c1e21;
  margin-left: 6px;
}
.comments__hours {
  color: #9d9db5;
}
.comments__btn {
  font-weight: 700;
  font-family: "Arial", sans-serif;
  display: block;
  padding: 14px 20px;
  background: #1877f2;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
}

.footer {
  margin-top: 40px;
  color: #9d9db5;
}
.footer__item {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 8px;
}
.footer__item:last-child {
  margin-top: 24px;
}